<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker Country wise</h1>
    <hr>
   <div class="mx-auto">
       <div class="from-group col-lg-5 mx-auto">
           <label for="c" class="p-4">Select Country</label>
           <select name="" class="form-control" id="c" #input (change)="updateValues(input.value)">
            <option value="{{con}}" class="text-center py-3" *ngFor="let con of countries">{{con}}</option>
        </select>
           
       </div>
      

   </div>
   <div class="p-3">

   <app-dashboard-card [totalActive]="totalActive" [totalConfirmed]="totalConfirmed" [totalDeaths]="totalDeaths" [totalRecovered]="totalRecovered"></app-dashboard-card>

</div>

   <div class="row">
       <!-- <div class="col">
        <google-chart [data]="lineChart"></google-chart>
       </div> -->
       <table class="table col">
           <thead>
               <tr>
                   <th>Sno.</th>
                   <th>Date</th>
                   <th>Cases</th>
               </tr>    
           </thead>
           <tbody>
               <tr *ngFor="let cs of selectedCountryData; index as i">
                   <td>{{i+1}}</td>
                   <td>{{cs.date | date}}</td>
                   <td>{{cs.cases}}</td>
               </tr>
           </tbody>

       </table>
   </div>
</div>

